<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.FilmActorMapper">

	<!-- 필름 삭제 시 film_actor들 삭제 -->
	<delete id="deleteFilmActorByFilm" parameterType="Integer">
		DELETE FROM film_actor
		WHERE film_id = #{filmId}
	</delete>

	<!-- /on/actrOne에서 actor 삭제 시 -> 출연작들을 삭제(film_actor) -->
	<delete id="deleteFilmByActor" parameterType="int">
		DELETE FROM film_actor
		WHERE actor_id = #{actorId}	
	</delete>
	

	<!-- actorOne에서 필름 삭제(film_actor 삭제) -->
	<!-- filmOne에서 액터 삭제(film_actor 삭제) -->
	<delete id="deleteFilmActor" parameterType="com.example.sakila.vo.FilmActor">
		DELETE FROM film_actor
		WHERE actor_id = #{actorId} AND film_id = ${filmId}	
	</delete>
	
	
	<!-- actorOne에서 필름 추가(film_actor 추가) -->
	<!-- filmOne에서 액터 추가(film_actor 추가) -->
	<insert id="insertFilmActor" parameterType="com.example.sakila.vo.FilmActor">
		INSERT INTO film_actor (
			actor_id
			, film_id
		) VALUES (
			#{actorId}
			, #{filmId}
		)
	</insert>


</mapper>