<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sakila.mapper.StoreMapper">
	
	<!-- /on/addStore : 지점 추가 -->
	<insert id="insertStore" parameterType="com.example.sakila.vo.Store">
		INSERT INTO store (manager_staff_id, address_id)
		VALUES (#{managerStaffId}, #{addressId})
	</insert>

	<!-- /on/storeList : 지점리스트 출력 (store x staff x address) -->
	<select id="selectStoreList" resultType="Map">
		SELECT 
			st.store_id storeId
			, st.manager_staff_id managerStaffId
			, st.address_id addressId
			, a.address address
			, a.district district
			, a.city_id cityId
			, a.postal_code postalCode
			, a.phone phone
			, sf.staff_id staffId
			, sf.first_name firstName
			, sf.last_name lastName
			, sf.email email
			, sf.username username
		FROM store st INNER JOIN address a
		ON st.address_id = a.address_id
		INNER JOIN staff sf
		ON st.manager_staff_id = sf.staff_id
	</select>

	<select id="selectStoreListByStaff"
			parameterType="int">
		SELECT store_id storeId FROM store
	</select>
</mapper>
	
	
	
